apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: observability
data:
  local-config.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100
      log_level: info

    ingester:
      lifecycler:
        ring:
          kvstore:
            store: inmemory

    common:
      path_prefix: /loki
      storage:
        azure:
          account_name: ${AZURE_ACCOUNT_NAME}
          account_key: ${AZURE_ACCOUNT_KEY}
          container_name: ${AZURE_LOKI_CONTAINER}
      replication_factor: 1

    limits_config:
      allow_structured_metadata: true
      max_streams_per_user: 0
      max_chunks_per_query: 0

    schema_config:
      configs:
        - from: 2025-01-01
          store: tsdb
          object_store: azure
          schema: v13
          index:
            prefix: index_
            period: 24h

    table_manager:
      retention_deletes_enabled: true
      retention_period: 0s

    ruler:
      storage:
        type: local
        local:
          directory: /loki/rules