receivers:
  otlp:
    protocols:
      grpc:
      http:
processors:
  batch: {}
exporters:
  loki:
    endpoint: http://loki:3100/loki/api/v1/push
    tls:
      insecure: true
    headers:
      X-Scope-OrgID: tenant1
  prometheusremotewrite:
    endpoint: http://mimir:9009/api/v1/push
    headers:
      X-Scope-OrgID: tenant1
  logging: {}
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true
    headers:
      X-Scope-OrgID: tenant1
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [loki, logging]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheusremotewrite, logging]
