loki:
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    retention_period: 672h # 28 days retention
  compactor:
    retention_enabled: true
    delete_request_store: filesystem

  querier:
    max_concurrent: 4

  storage:
    type: s3
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
    s3:
      endpoint: minio.observability.svc.cluster.local:9000
      secretAccessKey: supersecretpassword
      accessKeyId: loki-user
      s3ForcePathStyle: true
      insecure: true

deploymentMode: Distributed
auth_enabled: false

ingester:
  replicas: 2
  zoneAwareReplication:
    enabled: false

querier:
  replicas: 2
  maxUnavailable: 1

queryFrontend:
  replicas: 2
  maxUnavailable: 1

queryScheduler:
  replicas: 2

distributor:
  replicas: 2
  maxUnavailable: 1

compactor:
  replicas: 1

indexGateway:
  replicas: 2
  maxUnavailable: 1

ruler:
  replicas: 1
  maxUnavailable: 1

gateway:
  service:
    type: ClusterIP

minio:
  enabled: false
memcached:
  enabled: false
chunks-cache:
  enabled: false
lokiCanary:
  enabled: false
test:
  enabled: false
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

singleBinary:
  replicas: 0

monitoring:
  serviceMonitor:
    enabled: true
