apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-config
  namespace: observability
data:
  mimir.yaml: |
    blocks_storage:
      backend: azure
      azure:
        account_name: ${AZURE_ACCOUNT_NAME}
        account_key: ${AZURE_ACCOUNT_KEY}
        container_name: ${AZURE_MIMIR_CONTAINER}
    bucket_store:
      sync_dir: /tmp/mimir/tsdb-sync
    tsdb:
      dir: /tmp/mimir/tsdb

    compactor:
      data_dir: /tmp/mimir/compactor
      sharding_ring:
        kvstore:
          store: memberlist

    distributor:
      ring:
        instance_addr: 127.0.0.1
        kvstore:
          store: memberlist

    ingester:
      ring:
        instance_addr: 127.0.0.1
        kvstore:
          store: memberlist
      replication_factor: 1

    ruler_storage:
      backend: azure
      azure:
        account_name: ${AZURE_ACCOUNT_NAME}
        account_key: ${AZURE_ACCOUNT_KEY}
        container_name: ${AZURE_MIMIR_CONTAINER}

    server:
      http_listen_port: 9009
      log_level: error

    store_gateway:
      sharding_ring:
        replication_factor: 1