apiVersion: v1
kind: Service
metadata:
  name: mimir
  namespace: observability
spec:
  selector:
    app: mimir
  ports:
    - name: http
      protocol: TCP
      port: 9009
      targetPort: 9009
  type: ClusterIP