apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: observability
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:
    processors:
      batch: {}
    exporters:
      loki:
        endpoint: http://loki.observability.svc.cluster.local:3100/loki/api/v1/push
        tls:
          insecure: true
        headers:
          X-Scope-OrgID: tenant1
      prometheusremotewrite:
        endpoint: http://mimir.observability.svc.cluster.local:9009/api/v1/push
        headers:
          X-Scope-OrgID: tenant1
      logging: {}
      otlp/tempo:
        endpoint: tempo.observability.svc.cluster.local:4317
        tls:
          insecure: true
        headers:
          X-Scope-OrgID: tenant1
    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp/tempo]
        logs:
          receivers: [otlp]
          processors: [batch]
          exporters: [loki, logging]
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [prometheusremotewrite, logging]
